    <li class="active">
      <a href="/">
          <span class="icon">
          <i class=${pfw_iconClass}></i>
          </span>
          <span class="text">
            ${pfw_label}
          </span>
      </a>
    </li>