<button type="button" class="btn btn-margin-right hidden-print" data-dojo-attach-event="click:_onClick" data-dojo-attach-point="attachPoint_click" data-loading-text="...">
  <i class="${icon}"> </i> ${label}
</button>