	<label class="">${label}</label>
	<div class="controls input full-width">
     <select class="form-control chzn-select" data-placeholder="Choose a ${label}..." style="width:100px;" data-dojo-attach-point="attachPoint_input" >
    </select>
	</div>