<div class="modal fade" tabindex="-1" data-dojo-attach-point="attachPointModal">
			<div class="modal-header">
			<h3>${label}</h3>				
			</div>
			<div class="modal-body" data-dojo-attach-point="containerNode">
			</div>
			<div class="modal-footer" data-dojo-attach-point=attachPointActionLink></div>
</div>
