<div>
	<h2 class="page-header">Kurzanleitung zur Demo</h2>
	<p class="lead">Diese Demo enthält eine Anwendung zur Verwaltung und zum Drucken von Rechnungen. Sie ist nicht für den produktiven Einsatz gedacht, sondern zeigt wie eine typische Unternehmensanwendung mit appdriver aussehen kann.</p>
	<h3>Rechungenen anzeigen</h3>
	<p>Klicken Sie auf 'Rechnung' auf der Sidebar.(alternativ können sie den entsprechenden Eintrag aus dem Menu wählen)<br>
	Es wird eine Tabelle mit allen Rechnungen angezeigt.<br>
	<h3>Rechung suchen</h3>
	Über die Suchleiste können Sie nach Rechnungen suchen. ()Im moment ist nur die Suche nach Rechnungsnummern implementiert.<br>
	Tragen Sie eine Rechnungsnummer oder den Anfang einer Rechnungsnummer ein und drücken Sie <kbd>enter</kbd>. Die Tabelle wird entsprechend gefiltert<br></p>
	<h3>Tabelle sortieren</h3>
	<p>Klicken Sie auf eine Spaltenüberschrift um die Tabelle zu sortieren. Sortierung nach berechneten Spalten ist noch nicht implementiert, so kann z.B. die Tabelle der Rechnungen nicht nach dem Rechnungswert sortiert werden<br>
	Durch einen erneuten Klick auf die Spaltenüberschrift wird die Sortierrichtung umgekehrt.</p>
	
	
	<h4>Rechungen bearbeiten</h4>
	<p>Klicken Sie <span class="glyphicon glyphicon-pencil"></span> um eine Rechnung zu bearbeiten.</p>
	<p>Es wird ein Formular mit den Daten der Rechnung angezeigt.</p>
	<h4>Kunde auswählen</h4>
	<p>Der Kunde der Rechnung kann über eine Listbox ausgewählt werden. Wenn Sie auf das Feld klicken, wird eine Liste der Kunden angezeigt. Wenn Sie nun Zeichen eingeben, werden nur die Kunden angezeigt, die mit diesen Zeichen beginnen.</p>
	<p>Andere Auswahlfelder wie z.B. Währung und Zahlungsbedingung funktionieren ähnlich</p>
	<h4>Rechnungsdatum</h4>
	<p>Datümer können über die Tastatur eingegeben werden. Alternativ können Sie <span class="glyphicon glyphicon-calendar"></span> klicken und das Datum aus dem Kalender auswählen.</p>
	<p>Andere Auswahlfelder wie z.B. Währung und Zahlungsbedingung funktionieren ähnlich</p>
	
</div>