<div>
    <h2 class="bs-docs-featurette-title">Ein Framework speziell für Unternehmenssoftware.</h2>
    <h4>Jedes Unternehmen hat seine Besonderheiten. Aber vieles funktioniert doch immer ähnlich.</h4>
    <h4>Für Standard-Anforderungen bietet appdriver Standard-Lösungen und trotzdem alle Freiheiten für individuelle Entwicklung.</h4>
    <p class="lead"></p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="../pages/chart154x98.jpg" alt="Components" class="img-responsive">
        <h3>Speziell für Unternehmen</h3>
        <p>appdriver ist besonders auf die Bedürfnisse von Unternehmen bei Entwicklung und Betrieb von Software ausgerichtet.</p>
      </div>
      <div class="col-sm-4">
        <img src="../pages/appdriver_dashboard-202x98.jpg" alt="Sass and Less support" class="img-responsive">
        <h3>Standard-Lösungen</h3>
        <p>Mit appdriver entwickeln Sie in kürzester Zeit Web- oder Mobile-Anwendungen die Daten verwalten, Belege und Berichte erstellen usw. Vollständig, vom Datenbankzugriff bis zur Anwenderoberfläche.</p>
      </div>
      <div class="col-sm-4">
        <img src="../pages/code147x98.jpg" alt="Sass and Less support" class="img-responsive">
        <h3>Technik und individuelle Entwicklung</h3>
        <p>appdriver ist extrem flexibel und läßt immer Möglichkeiten offen, Änderungen vorzunehmen oder Komponenten komplett auszutauschen</p>
      </div>
    </div>

    <hr class="half-rule">

    <p class="lead">appdriver ist Open-source..</p>
    <a href="https://github.com/twbs/bootstrap" class="btn btn-outline btn-lg">View the GitHub project</a>
  </div>