<div>
	<h2 class="page-header">appdriver - Speziell für Unternehmen</h2>
	<p class="lead">
		Unternehmen haben besondere Anforderungen was die Entwicklung, den Betrieb und die Verwendung von Software betrifft. appdriver ist
		darauf ausgelegt genau diese zu erfüllen.<br>
	</p>
	<h3 >Vieles ist Standard</h3>
	<p>
		Unternehmenssoftware besteht zu einem großen Teil aus Standard-Funktionen wie Daten verwalten, Daten speichern, Belege erzeugen
		usw. Da man diese sehr oft entwickeln muß, ist es besonders wichtig, daß dies möglichst einfach und schnell geht. Mit appdriver
		kann man solche Standard-Funktionen in einem Bruchteil der normalerweise benötigten Zeit entwickeln, vieles läßt sich sogar
		vollautomatisch generieren.<br> <br>
	</p>
	<h3 >Individuelle Programmierung</h3>
	<p>
		Unternehmen entwickeln Software in der Regel nicht aus Freude an der Technik, sondern um Wettbewerbsvorteile zu erlangen. Dafür
		braucht es spezielle Lösungen, die man entwickeln (lassen) muss, weil man sie eben nicht fertig kaufen kann. Das ist dann echte
		Individualentwicklung. Standard-Funktionen und individuelle Anteile ergänzen sich mit appdriver gegenseitig und arbeiten
		reibunglos zusammen.<br> <br>
	</p>
	<h3 >Komplette Anwendungen</h3>
	<p>
		Unternehmen brauchen vollständige Lösungen. Mit appdriver kann man komplette 'Programme' erstellen, vom Zugriff auf die Datenbank
		bis zur Anzeige im Browser . Inklusive Validierung, Mehrsprachigkeit, Datenbankabfragen (Queries), API für die Integration mit
		anderen Systemen, PDF Export ...<br> <br>
	</p>
	<h3 >Fertige Module</h3>
	<p>
		Hat man sich dazu entschloßen, eigene Software zu entwickeln, muss man sich auch um viele Themen kümmern, die dem Unternehmen
		keinen direkten Mehrwert verschaffen, sondern in erster Linie Arbeit, Zeit und Geld kosten. Beispiel : Ein Unternehmen entschließt
		sich, eine eigene Software für die Erstellung und Bearbeitung seiner Rechnungen zu entwickeln. Dafür braucht man auch Währungen,
		ggf. mit Wechselkursen, Länder, Mehrwertsteuerschlüssel ... Diese Daten müssen irgendwoher kommen, anzeigbar und oft auch änderbar
		sein. Für appdriver gibt es so etwas als fertigen Module, z.B. Währungen, Länder, Städte und es werden weitere dazu kommen. Diese
		Module sind sofort einsetzbar, erweiterbar und könnnen mit eigener Software integriert werden.<br> <br>
	</p>
	<h3 >Keine exotischen Lösungen, alles Open-Source</h3>
	<p>
		appdriver setzt komplett auf Standards und Open-Source. Es enthält keine exotischen Technologien, die sich später einmal als
		Sackgasse erweisen könnten. Software, die mit appdriver entwickelt wurde, läuft auf fast allen Servern, mit fast allen Datenbanken
		und kann mit den üblichen Entwicklerwerkzeugen erstellt werden.<br> <br>
	</p>
	<h3 >Unterstützung für den gesamten Entwicklungsprozess</h3>
	<p>
		Vom Code bis zur fertigen Anwendung ist es ein weiter Weg. appdriver bietet Unterstützung für den gesamten Prozess, vom Codieren
		über Entwicklertests, Integrationstests (bei denen das Zusammenspiel mehrere Komponenten getestet wird), automatisierte
		Browser-Tests bis zur Erstellung von Releases und Installation.<br> <br>
	</p>
	<h3 >Gleichmäßige Auslastung der Mitarbeiter</h3>
	<p>Unternehmen entwickeln Software in inhomogenen Teams. Die Entwickler haben unterschiedliche Schwerpunkte und Erfahrung.
		Meist gibt es einige erfahrene Entwickler, bei denen sich die Arbeit staut während andere Teammitglieder nicht voll ausgelastet
		werden können. Sinnvoll wäre es also, möglichst viel Arbeit von den Engpassressourcen, also den überlasteten Entwicklern, auf die
		andere Teammitglieder zu übertragen. appdriver unterstützt dieses Vorgehen und erleichtert so eine gleichmäßigere Auslastung der
		Mitarbeiter.</p>
</div>