<div>
	<h1 class="page-header">appdriver - ein Beispiel</h1>
	<p class="lead">appdriver ist ein Framework speziell für die professionelle Entwicklung von Unternehmenssoftware. Es basiert
		auf bewährten Open-Source Lösungen, integriert diese zu einem Ganzen und bringt alles das mit, was man braucht um in kürzester
		Zeit komplette Anwendungen zu entwickeln.</p>
	<h2>Eine einfache Währungsverwaltung</h2>
	<p>In einer Web-Anwendung soll eine Tabelle mit Währungen angezeigt werden. Neue Währungen können erfasst, bestehende editiert,
		gespeichert oder gelöscht werden.<br> Im Folgenden werden alle Schritte gezeigt, die notwendig sind um mit appdriver eine solche
		Anwendung zu entwickeln, zu bauen und auszuführen.<br> Das Ergebnis ist eine komplette Web-Anwendung, die von jedem PC, Tablet
		oder Mobile genutzt werden kann. <br>Die gesamte Anwendung wird automatisch mit Maven in ein einziges Web-Archiv (.war)
		gepackt und kann auf jedem Servlet-Container z.B. Tomcat oder Jetty betrieben werden.<br><br><small>Nicht gezeigt wird die
		Installation der benötigten Werkzeuge wie einer Entwicklungsumgebung,  oder Maven, das für den Build verwendet wird. Ebenfalls nicht enthalten ist das
		Setup eine Projektes mit appdriver, das sich aber kaum von dem eines typischen Web-Projektes unterscheidet.</small></p>
	<h3>Entität</h3>
	Als erstes wird die Klasse 'Currency' angelegt und mit Jpa-Annotationen versehen. Das ist alles Standard. Getter/Setter sind nicht
	erforderlich, aber möglich.
	<pre class=".pre-scrollable">	
@Entity
public class Currency extends CommonsEntity {
	
	public String code;
	public Integer decimals;
	
	public String name;
	public String symbol;
	...
	}
	</pre>
	<h3>Repository</h3>
	<p>
		Ein Repository ist ein spezieller Service für Datenbankzugriffe. Das Repository für Währungen :<br> <br>
	</p>
	<pre class=".pre-scrollable">	
@RestResource(path="currency")
public interface CurrencyRepository extends PagingAndSortingRepository &ltCurrency , Long&gt {
	public Page &ltCurrency&gt findByNameLikeIgnoreCase(@Param("name")String name,Pageable pageable);
}	
	</pre>
	<p>
		Der Entwickler erstellt lediglich das Interface, die Implementierung wird automatisch erzeugt. Es stehen alle grundlegenden
		Persistenz-Funktionen zur Verfügung :
		<code>delete(..),deleteAll(),exists(..),findAll(),findOne(..),save(..), count()</code>
	</p>
	<h5>Queries</h5>
	<p>
		Für einfache Queries schreibt man im Repository-Interface jeweils eigene Methoden. Hält man sich dabei an Namenskonventionen, wird
		auch deren Implementierung automatisch erzeugt.<br> Der Name
		<code>findByNameLikeIgnoreCase</code>
		definiert z.B. eine Methode die Währungen nach Name sucht, dafür
		<code>LIKE</code>
		verwendet und Groß-/Kleinschreibung ignoriert.<br> Die gesamte Persistenz-Schicht benötigt gerade einmal 2 Zeilen Code.
		Alternativ kann man einzelne Methoden oder auch ganze Repositories von Hand implementieren sowie JPA- oder SQL-Queries verwenden.
		appdriver verwendet für Repositories das Framework Spring-Data JPA.
	</p>
	<h3>Web-Schnittstelle als REST API</h3>
	<p>
		appdriver stellt für Repositories automatsch eine Web-Schnittstelle, ein REST API zur Verfügung. Dadurch können Repositories von
		Clients (z.B. Browser) oder anderen Servern genutzt werden. Daten können als JSON oder auch XML ausgeliefert werden. Der
		Entwickler muß dafür nichts weiter tun.<br> Ein Client, der über die REST API die Währung 'EUR' anfordert bekommt in JSON diese
		Antwort :<br>
	</p>
	<pre class=".pre-scrollable">	
	{
		symbol: "€",
		code: "EUR",
		name: "Euro",
		decimals: 2,
		createdDate: "2014-04-05T14:42:44.952Z",
		createdBy: "Stefan Isele",
		lastModifiedDate: "2014-04-05T14:42:44.952Z",
		lastModifiedBy: "Stefan Isele",
		version: 0,
		links: [
		{
			rel: "self",
			href: "${api}/currency/4"
		}
			   ]
	}

	</pre>
	Alle Methoden der Repositories, also schreiben, lesen, löschen usw. sind über die Web-Schnittstelle verfügbar. Das gilt auch für
	die handgeschriebenen find-Methoden. So findet man die Währung mit Name="Euro"
	über die URL <a href="${api}/currency/search/findByNameLikeIgnoreCase?name=Euro">${api}/currency/search/findByNameLikeIgnoreCase?name=Euro</a>.
	Eine Liste aller Such-Methoden ist je Entity unter dem Pfad /search verfügbar. für Rechnungen z.B. unter der URL <a href="${api}/currency/search/">${api}/currency/search/</a>
	<br>appdriver verwendet Spring Data REST, um die
	Web-Schnittstelle automatisch aus den Repositories zu erzeugen.
	<p>
		<br> Das war es schon auf dem Server. Mit wenigen Zeilen Code haben wir alles, um Währungen in der Datenbank zu verwalten, und
		über Queries abzufragen. Zusätzlich gibt es eine Web-Schnittstelle, die diese Funktionalität für Clients oder andere Server
		verfügbar macht.
	</p>
	<h3>Client</h3>
	<p>appdriver unterstützt alle modernen Web-Browser, auf dem PC, Tablet oder Mobile und verwendet dafür ausschließlich Html,
		Css, Ajax und Javascript. Es beinhaltet eine kleine Javascript-Bibliothek (50 kb), die es erlaubt Plugins und Extensionpoints zu
		definieren.</p>
	<div class="bs-callout bs-callout-warning">
		<p>Die hier verwendeten Begriffe Plugin und Extension haben nichts mit Browser-Plugins zu tun. appdriver erfordert keinerlei
			Installation auf dem Client, lediglich einen modernen Web-Browser.</p>
	</div>
	<p>
		Ein Plugin ist nichts anderes als ein bisschen Javascript und eine Text-Datei mit Konfiguration in JSON.<br> Man kann damit
		sehr flexible ,leicht erweiterbare Systeme aufbauen. So ist appdriver z.B. nicht auf Bootstrap oder JQuery festgelegt. Dies ist im
		moment die Standard-Implementierung, sie kann aber mit wenig Aufwand gegen andere Ui-Frameworks wie Angular, Ember, Backbone oder
		sonstige ausgetauscht werden. <br> Zück zum Beispiel : appdriver kann im Client ohne weitere Programmierung Formulare und
		Tabellen für beliebige Entitäten. Man braucht lediglich einen Eintrag im Benutzermenu, mit dem man zu der Tabelle gelangt. Das
		Menu wird durch das Plugin
		<code>prefabware.ui.menus</code>
		definiert. Es bietet einen
		<code>extensionPoint</code>
		, also einen Erweiterungspunkt, an dem man eigene Menupunkte registrieren kann. Für die Tabelle mit den Währungen sieht die
		Konfiguration so aus:
	</p>
	<pre class=".pre-scrollable">	
	{"extensionPoint":"prefabware.ui.menus",
  			  "menu":"basicData.currency",
  			  "actionId":"openView",
  			  "type":"com.prefabware.business.commons.Currency",
  			  "matcher":{"value":"menu"}
  									  }
	</pre>
	<p>
		Diese Informationen genügen um Menupunkt, Tabelle und Formular darzustellen.
		appdriver enthält einen Model-Service, über den der Client Meta-Daten zu Entitäten abrufen kann.
		Diese Meta-Daten ermittelt appdriver per Reflection. Über Annotationen können diese konfiguriert werden.
		 
		Mit dem Namen der Java-Klasse
		<code>com.prefabware.business.commons.Currency</code>
		kann appdriver vom Server Informationen über den Typ
		<code>Currency</code>
		abrufen. Currency hat z.B. ein Attribut
		<code>name</code>
		vom Typ
		<code>String</code>
		. appdriver ist so konfiguriert, dass Strings als Textbox dargestellt werden. Den Code für HTML- und Css für die Darstellung
		erzeugt dann das Plugin
		<code>prefabware.bootstrap</code>
		.<br>Das gesamte hier beschriebene Verhalten und die Darstellung können durch Plugins und Konfiguration komplett verändert
		werden. appdriver definiert immer nur den Standard-Fall. Der Entwickler hat aber immer die Möglichkeit dieses zu verändern oder
		ganz auszutauschen. So kommt man schnell, mit minimalem Aufwand zu vorzeigbaren Ergebnissen und kann gleichzeitig flexibel auf
		neue Anforderungen reagieren.
	</p>
</div>