<div>
	<h2 class="page-header">appdriver - the framework for enterprise
		software</h2>
	<p class="lead">appdriver is a framework for developing, testing
		and operating enterprise web applications. It enables highly
		productive development of complete, ready-to-run applications, without
		limiting the developers freedom.</p>
	<h3>Sample application</h3>
	<p>
		This is a sample application. Its main purpose is to provide a running
		application as base for your own development.<br> This sample
		application is configured to run on an embedded Jetty-Server using an
		in memory database (hsqldb) but you can change this in the Maven and Spring configuration.<br>  
		The application is build with Maven,
		contains only Java, Javascript and Open-Source Frameworks and uses
		JPA to access the database. It has a REST API (Spring Rest
		Data) that is used for the client-server communication but can also be
		used to interact with other systems.<br>On the client side (browser)
		appdriver uses Javascript (JQuery, dojo), HTML5 and CSS (Bootstrap 3).
		<br>The created sample application contains one JPA-Entity that has
		attributes of many simple types (String,Date etc.), an enumeration and
		references (many-to-one, many-tomany, one-to-many). You will see a
		table, showing instances of this entity and a form to edit or create
		one. All CRUD operations are supported furthermore sorting, paging,
		lazy loading and also a simple search. You can use this application as
		a base for further development, e.g. add more entities, change the
		layout and desing or change the configuration to run on other servers
		like Tomcat and with other databases like MySql. professional version
		at <a href="http://freehome.appdriver.com">appdriver.com</a>
	</p>
	<div class="bs-callout bs-callout-info">
		<p>
			appdriver is Open Source and is developed by Stefan Isele and his
			company <a href="http://prefabware.com/">prefabware</a> in Köln,
			Germany <br> If you need support for a software project you can
			send him an email to :
		</p>
		<p class="text-center">
			<a href="mailto:stefan-isele@appdriver.com">stefan-isele@appdriver.com</a>
		</p>
	</div>
	<hr class="half-rule">
	<div class="row">
		<div class="col-sm-4">
			<h3>Next steps</h3>
			<p>
				Go to <a href="http://freehome.appdriver.com">appdriver.com</a> for
				documentation and tutorials.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Online demo</h3>
			<p>
				you can find a running online demo with more features at <a
					href="http://demo.prefabware.com">demo.prefabware.com</a>
			</p>
		</div>
	</div>
	<hr class="half-rule">
	<p>appdriver makes extensive use of the following open source
		frameworks and tools. Special thanks to the respective developers :</p>
	<ul>
		<li>Frontend - bootstrap 3, dojo,JQuery, JQuery datatables</li>
		<li>REST-API - Spring Data Rest</li>
		<li>Persistence - Spring Data JPA</li>
		<li>Database - hsqldb</li>
		<li>Build - Maven</li>
		<li>...</li>
	</ul>
</div>