<div>
	<h2 class="page-header">appdriver - Ein Framework speziell für Unternehmenssoftware.</h2>
	<p class="lead">
		appdriver ist auf die besonderen Anforderungen von Unternehmen bei Entwicklung und Betrieb von Software ausgerichtet.		  
		Komplette Anwendungen für Datenpflege, Reporting und Integration entwickelt man mit appdriver in kürzester Zeit,
		gleichzeitig behält man alle Freiheiten einer Individualentwicklung.		
	</p>
	<h2>Demo-Anwendung</h2>
	<p>Diese Demo enthält eine Anwendung zur Verwaltung und zum Drucken von Rechnungen. Sie ist nicht für den echten Einsatz
		gedacht, sondern zeigt wie eine typische Unternehmensanwendung mit appdriver aussehen kann. <strong>Eine solche Anwendung kann ein
		versierter Entwickler mit appdriver an einem Tag erstellen</strong>. Für die Benutzeroberfläche werden hier Bootstrap 3 und JQuery
		verwendet, appdriver kann aber auch mit beliebigen anderen Javascript- oder Css-Bibliotheken eingesetzt werden.</p>
	<div class="bs-callout bs-callout-info">
		<p>
			appdriver ist Open-Source und wird von Stefan Isele und seinem Unternehmen <a href="http://prefabware.de/">prefabware</a>
			entwickelt.<br> Wenn Sie Unterstützung für ein Software-Projekt brauchen oder Fragen zu appdriver haben, schicken Sie
			einfach eine Email an :
		</p>
		<p class="text-center">
			<a href="mailto:stefan-isele@prefabware.com">stefan-isele@prefabware.com</a>
		</p>
		<p>
			Wenn Sie über Neuigkeiten zu appdriver informiert werden wollen, können Sie unseren Newsletter abonnieren :
		</p>
		<div data-dojo-attach-point="attachPoint_newsletter"></div>
	</div>
	<hr class="half-rule">
	<div class="row">
		<div class="col-sm-4">
			<img src="../pages/chart154x98.jpg" alt="Components" class="img-responsive">
			<h3>Speziell für Unternehmen</h3>
			<p>appdriver ist besonders auf die Bedürfnisse von Unternehmen bei Entwicklung und Betrieb von Software ausgerichtet.</p>
			<div data-dojo-attach-point="attachPoint_enterprise"></div>
		</div>
		<div class="col-sm-4">
			<img src="../pages/appdriver_dashboard-202x98.jpg" alt="Sass and Less support" class="img-responsive">
			<h3>Standard-Funktionen und Features</h3>
			<p>Mit appdriver entwickeln Sie in kürzester Zeit komplette Web- oder Mobile-Anwendungen die Daten verwalten, Belege und
				Berichte erstellen usw. Vollständig, vom Datenbankzugriff bis zur Anwenderoberfläche.</p>
			<div data-dojo-attach-point="attachPoint_features"></div>
		</div>
		<div class="col-sm-4">
			<img src="../pages/code147x98.jpg" alt="Sass and Less support" class="img-responsive">
			<h3>Beispiel : Währungsverwaltung</h3>
			<p>Entwicklung einer Währungsverwaltung mit Tabelle, Formular, Datenbank und REST-Api auf Basis von appdriver.</p>
			<div data-dojo-attach-point="attachPoint_technical"></div>
		</div>
	</div>
	<hr class="half-rule">	
</div>