    <div class="input-group col-lg-5">
      <input type="text" placeholder="Email-Adresse" class="form-control" data-dojo-attach-point="attachPoint_input">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button" data-dojo-attach-event="click:_onClick" data-dojo-attach-point="attachPoint_click">Newsletter abbonieren</button>
      </span>
    </div>
