<div class="container-fluid">
	<div class="row">
		<h2>${i18n.Invoice}</h2>
		<div class="col-md-6">
			<form class="form-horizontal">
				<fieldset>
					<!-- Form Name -->
					<legend>${i18n.basicData}</legend>


					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.number}</label>
						<div class="controls" data-dojo-attach-point="attachPoint_number">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.customer}</label>
						<div class="controls"
							data-dojo-attach-point="attachPoint_customer">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.invoiceDate}</label>
						<div class="controls"
							data-dojo-attach-point="attachPoint_invoiceDate">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>

					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">Text</label>
						<div class="controls" data-dojo-attach-point="attachPoint_text">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal">
				<fieldset>
					<!-- Form Name -->
					<legend>${i18n.CurrencyAndValues}</legend>

					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.currency}</label>
						<div class="controls"
							data-dojo-attach-point="attachPoint_currency">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>


					<div class="control-group" >
						<label class="control-label" for="textinput">${i18n.paymentTerms}</label>
						<div class="controls" 
							data-dojo-attach-point="attachPoint_paymentTerms">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
					
					<!-- the following fields are 15px to much left because of their form inline
					thats corrected here hardcoded with a margin-left of 15 px-->
					<!-- Text input-->
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.totalNet}</label>
						<div class="controls" style="margin-left: 15px;"
							data-dojo-attach-point="attachPoint_totalNet">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.totalVat}</label>
						<div class="controls" style="margin-left: 15px;"
							data-dojo-attach-point="attachPoint_totalVat">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="textinput">${i18n.totalGross}</label>
						<div class="controls" style="margin-left: 15px;"
							data-dojo-attach-point="attachPoint_totalGross">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="row">
		<form class="form-horizontal">
				<fieldset>
					<!-- no legend here, the fields label is sufficient -->
					<!-- Text input-->
					<div class="control-group">
					<hr class="half-rule">
						<div class="controls"
							data-dojo-attach-point="attachPoint_lines">
							<input id="textinput" name="textinput" type="text"
								placeholder="placeholder" class="input-xlarge">
							<p class="help-block">help</p>
						</div>
					</div>

				</fieldset>
			</form>
	</div>
	<div class="row">
		<!-- Buttons -->
		<div class="control-group">
			<hr class="half-rule">
			<div class="controls" data-dojo-attach-point="attachPointActionLink">
				<button id="button1id" name="button1id" class="btn btn-success">Good
					Button</button>
				<button id="button2id" name="button2id" class="btn btn-danger">Scary
					Button</button>
			</div>
		</div>
	</div>
</div>


