/*
 * z-index of datepicker must be nu must be higher than of modal dialogs 
 */
 .datepicker {z-index: 1160 !important;}
 
/*
 * make the select as heigh as abootstrap field 
 */
 .select2-container .select2-choice {
    height: 34px;}
 .select2-container{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 0px;
    }
 .select2-chosen{
    padding-top: 3px;
    }
    
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../../../../datatables/media/images/sort_both.png') no-repeat center right; }
table.table thead .headerSortUp { background: url('../../../../datatables/media/images/sort_asc.png') no-repeat center right; }
table.table thead .headerSortDown { background: url('../../../../datatables/media/images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../../../../datatables/media/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../../../../datatables/media/images/sort_desc_disabled.png') no-repeat center right; }
div.dataTables_paginate {
	/*
	* let the pagination float to the right 
	*/
	float: right;
	margin: 0;
}
/*
 * margin for controls in form-inline
 * without they are glued together 
 */
.form-inline.space-fix .form-group {
    margin-right: 4px;
}
.form-inline.space-fix .form-group:last-child {
    margin-right: 0;
}
/*
 * lesser heigth allows multiline labels in the sidebar items 
 */
nav#primary ul li a .text {
	line-height: 16px;
}
/*
 * lesser heigth allows multiline labels in the sidebar subitems 
 */

nav#primary ul li ul li a .text {
	line-height: 16px;
}
.well.faq-well {
font-size:14px;
}
.pricing-plans .header .tagline {
margin-bottom: 30px;
}
/*
 * z-index of drop down menu must be higher than of modal dialogs 
 */
 .dropdown-menu {
z-index: 1060;
}
.pagination {
margin-left: 25px;
margin-top: 0px;
float:left;
}
.input.datepicker .input-error {
	right: -45px;
}
.gritter-item-wrapper.success {
background: #63a822;;
}
.gritter-item-wrapper.warning {
background: #ff8330;
}
.gritter-item-wrapper.error {
background: #db3535;
}
.modal-backdrop, .modal-backdrop.fade.in {
opacity: 0.9;
filter: alpha(opacity=70);
background: rgb(53, 47, 47);
}
html,body {
	height: 100%;
	width: 100%;
}
form td
{
  padding-bottom: 1em;
}

.bootstrap-select {width: auto;}
.bootstrap-select .btn {width: 100%;}
.btn-group.bootstrap-select {width: 100%;}
.btn-group.bootstrap-select.error {
border-color: #db3535;
}
.btn.dropdown-toggle.clearfix.full-width.error {
border-color: #db3535;
}


 