<button type="button" class="btn btn-sm hidden-print" 
data-dojo-attach-event="click:_onClick" 
data-dojo-attach-point="attachPoint_click"
data-original-title="${tooltip}"
data-toggle="tooltip"
data-loading-text="...">
  <i class="${icon}"> </i> ${label}
</button>