<div class="box box-${style}" style="position: relative;">
	<div class="box-header" style="cursor: move;">
		<!-- tools box -->
		<div class="pull-right box-tools" data-dojo-attach-point="toolsNode">
			<form class="form-inline" role="form"
				data-dojo-attach-point="attachPointActionLink">
				<div class="form-group" data-dojo-attach-point="searchFormGroup"
					style="display: none;">
					<label class="sr-only">Search</label>
					<!-- setting a column here results in a linebreak -->
					<!-- without width, the search field takes 100 % -->
					<!-- setting a width in %, also causes a lien break-->
					<div class="input-group" style="width: 300px;">
						<input type="text" class="form-control" placeholder="Search..."
							data-dojo-attach-point="searchInput"
							data-dojo-attach-event="onkeydown: onSearchKeyDown"
							style="height: 30px;"> <span class="input-group-btn">
							<button class="btn btn-default" type="button" style=" height: 30px; ">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</div>	
			</form>
		</div>
		<!-- /. tools -->
		<i class="fa ${icon}"></i>
		<h3 class="box-title">${label}</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="row">
			<div class="col-sm-12" data-dojo-attach-point="containerNode"></div>
			<!-- /.col -->
		</div>
		<!-- /.row - inside box -->
	</div>
	<!-- /.box-body -->
	<div class="box-footer">
		<div class="row"></div>
		<!-- /.row -->
	</div>
	<!-- /.box-footer -->
</div>