<li class="treeview"><a href="#" data-dojo-attach-event="click:_onClick"> <i class="${icon}"></i> <span>${label}</span>
		<i class="fa pull-right fa-angle-left"></i>
</a>
	<ul class="treeview-menu" data-dojo-attach-point="containerNode" style="display: none;">
	<!-- 
		TODO the sidebar subitems need a margin-left
		<li><a href="pages/forms/general.html" style="margin-left: 10px;"><i
				class="fa fa-angle-double-right"></i> General Elements</a></li>
				 -->		
	</ul></li>