<div class="table-responsive" data-dojo-attach-point="attachPoint_input">
<!-- no h4, the label is shown in the page or box header -->
<div class="pull-right" style=" margin-top: -25px; " data-dojo-attach-point="attachPointActionLink"></div>
<table class="table table-striped table-bordered table-hover table-condensed data-table dataTable" data-dojo-attach-point="dataTable">
	<thead data-dojo-attach-point="dataTable_thead">
		<tr data-dojo-attach-point="dataTable_thead_tr" role="row">
		</tr>
	</thead>
	<tbody role="alert" aria-live="polite" aria-relevant="all">
	</tbody>
</table>
</div>