<th class="header sorting" role="columnheader" tabindex="0"
	rowspan="1" colspan="1">
	<div class="DataTables_sort_wrapper sorting">{label}
		<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n"></span>
	</div>
</th>